body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.has-text-muted {
  color: #95A5A6;
}
.fa {
  font-size:10px;
  padding-top:3px;
  color: #95A5A6;
}
.panel-block-item {
  display: inline-block;
  color: #95A5A6;
  font-weight: bold;
  padding: 0 10px;
}
.cart-icon {
  padding-top:10px;
}
.product-header {
  background-color:#fafafa;
}

.multi-button {
  display: flex;
  margin-top: 10px;
  height: 35px;
}

.is-multi {
  margin-right: 10px;
}

#review-form {
  display: none;
}

#star-input {
  height: 27px;
}

#rating-label {
  margin-top: 8px;
  margin-bottom: 0;
}

#no-reviews {
  display: none;
}

span.is-right {
  float: right;
  margin-left: 5px;
  color: black;
}

span.is-right i:hover {
  color: black;
}
